.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 0px;
  right: 0px;
}

.headerBox {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border-radius: 0px 0px 0px 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.content {
  display: flex;
  justify-content: start; 
  align-items: start;
  margin-top: 60px; 
  gap: 20px; 
}

.textContent {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: justify; 
}

.textContent h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.textContent p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.imageContent {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.imageContent img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.translateButtonContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.translateButton {
  background-color: rgba(95, 95, 95, 0.971);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.icon {
  margin-right: 0.5rem; 
}

.translateButton:hover {
  background-color: rgba(114, 114, 114, 0.821);
  transform: translateY(-0.2rem);
}
