.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.column {
  flex: 1;
  margin: 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify; /* Alinea el texto */
  background-color: rgba(0, 128, 0, 0.2); /* Fondo verde con transparencia */

}

.text {
  font-size: 1.5rem; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  color: black; /* Color del texto */
  padding: 30px; /* Espaciado interno */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
