.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.column {
  flex: 1;
  margin: 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify; /* Alinea el texto */
  background-color: rgba(0, 128, 0, 0.2); /* Fondo verde con transparencia */

}

.text {
  font-size: 1.5rem; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  color: black; /* Color del texto */
  padding: 30px; /* Espaciado interno */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.translateButtonContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.translateButton {
  background-color: #5d5375;
  color: #f9d070;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.742), inset 0px -3px 5px rgba(255, 255, 255, 0.2);
}

.icon {
  margin-right: 0.5rem;
}
