/* src/components/Vista1Comunidad/Vista1Comunidad.module.css */

.vista1comunidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.translateButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.translateButton svg {
  margin-right: 0.5rem;
}

.location {
  font-size: 2rem;
  top: -2em;
  position: relative;
}

.showLocationButton {
  margin-top: 10px;
  padding: 20px 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
}

.showLocationButton:hover {
  background-color: rgba(255, 255, 255, 0.3);  
}

.content {
  position: relative;
  max-width: 600px;
  padding: 20px;
  color: white;
  z-index: 1;
  border-radius: 15px;
  font-size: 17px;
  text-transform: none !important;
  margin-left: 40px; /* Añadido para mover el texto hacia la derecha */
}

.translateButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
}

.translateButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fixedButtons {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

