/* src/components/Vista1Comunidad/Vista1Comunidad.module.css */
.vista1comunidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
}

.content {
  position: relative;
  max-width: 500px; /* Ajustado para pantallas más grandes */
  padding: 10px;
  color: white;
  z-index: 1;
  border-radius: 15px;
  font-size: 17px;
  text-transform: none !important;
}

.backgroundImage {
  position: absolute;
  top: -0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../../assets/VectorNube.png') no-repeat;
  background-size: 55% auto; /* Ajusta la imagen para que cubra toda la pantalla */
  background-position: bottom left; /* Ajusta la posición de la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: 0;
}

.location {
  font-size: 2rem;
}

.showLocationButton {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);  
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.locationImageContainer {
  position: fixed;
  right: 20px; /* Espacio del borde derecho de la pantalla */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente oculto */
  animation: slideIn 0.5s forwards; /* Animación de aparición */
}

.locationImageContainer {
  position: fixed;
  right: 20px; /* Espacio del borde derecho de la pantalla */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente oculto */
  animation: slideIn 0.7s forwards; /* Animación de aparición más lenta para mayor visibilidad */
}

.locationImage {
  width: 100vw; /* Ajusta el ancho al 80% del ancho de la ventana */
  max-width: 400px; /* Ancho máximo para pantallas pequeñas */
  height: auto; /* Mantiene la relación de aspecto */
  border: 2px solid #000;
  border-radius: 8px; /* Bordes redondeados para la imagen */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra de la imagen */
}

@keyframes slideIn {
  from {
    transform: translateX(100%) translateY(-50%); /* Aparece desde la derecha */
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(-50%); /* Posición final */
    opacity: 1;
  }
}



/* Agrega esto al archivo Vista1Comunidad.module.css */
.translateButtonContainer {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}
.translateButton {
  background-color: #5d5375;
  color: #f9d070;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 10;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.742), inset 0px -3px 5px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px); 
}


.icon {
  margin-right: 0.5rem; /* Ajusta el margen derecho del ícono para separarlo del texto */
}

