/* VolverAHome.css */

.volver-a-home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.volver-a-home .home-button {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para destacar el botón */
  border: 2px solid white; /* Borde blanco para mayor contraste */
  border-radius: 15px; /* Bordes redondeados */
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem; /* Tamaño de fuente relativo */
  padding: 1rem 1rem; /* Espaciado interno relativo */
  transition: background 0.3s, transform 0.3s, color 0.3s; /* Transición suave para efectos */
  position: relative; /* Necesario para el efecto de movimiento del texto */
  overflow: hidden; /* Evita que el texto se desborde del botón */
}

.volver-a-home .home-button:hover {
  background: rgba(255, 255, 255, 0.2); /* Cambio de fondo al pasar el ratón */
  transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.volver-a-home .home-button svg {
  margin-right: 0.5rem;
}

.volver-a-home .home-button span {
  font-family: 'Poppins', sans-serif; /* Usa la fuente Poppins si la tienes configurada globalmente */
  font-size: 1rem; /* Tamaño de fuente relativo */
  display: inline-block; /* Necesario para animar el texto */
  animation: moveText 1s ease-in-out infinite; /* Aplica la animación al texto */
}

/* Efecto de resplandor */
.volver-a-home .home-button {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.volver-a-home .home-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 70%);
  opacity: 0.5;
  filter: blur(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.volver-a-home .home-button:hover::before {
  opacity: 0.8;
  transform: scale(1.1);
}
