.home-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container .logo {
  position: absolute;
  left: 4rem; /* Ajusta la distancia del logo desde el borde izquierdo */
  top: 4rem; /* Ajusta la distancia del logo desde el borde superior */
  width: 300px; /* Tamaño del logo */
  height: auto;
  z-index: 10; /* Asegúrate de que el logo esté por encima del contenido */
}

.home-container .nav-buttons {
  position: absolute;
  top: 60px; /* Se ha bajado más la posición de los botones */
  display: flex;
  gap: 1rem; /* Usar rem para mejor escalabilidad */
}

.home-container .nav-button {
  background-color: #597f31;
  color: white;
  padding: 0.5rem 1rem; /* Ajuste de padding usando rem */
  border-radius: 30px;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.home-container .nav-button:hover {
  background-color: #ba3902;
  transform: translateY(-0.2rem);
}

.home-container .text-container {
  position: absolute;
  right: 1rem; /* Usar rem para mejor escalabilidad */
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

.home-container h1 {
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  font-size: 3rem; /* Tamaño inicial para pantallas grandes */
}

/* Ajustes específicos para pantallas grandes como 4K */
@media (min-width: 3840px) {
  .home-container .nav-buttons {
    gap: 2rem; /* Mayor separación entre los botones */
  }

  .home-container .nav-button {
    padding: 1rem 2rem; /* Aumenta el padding para pantallas grandes */
    font-size: 5rem; /* Tamaño de fuente más grande para botones */
  }

  .home-container h1 {
    font-size: 5rem; /* Tamaño de fuente más grande para 4K */
  }
}

/* Ajustes para pantallas grandes pero no 4K */
@media (min-width: 1600px) {
  .home-container .nav-buttons {
    gap: 1.5rem;
  }

  .home-container .nav-button {
    padding: 0.75rem 1.5rem;
    font-size: 3rem;
  }

  .home-container h1 {
    font-size: 7rem;
    margin-right: 1em;
  }
}

@media (max-width: 1200px) {
  .home-container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .home-container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .home-container h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .home-container h1 {
    font-size: 1.2rem;
  }
}
