/* Establece la tipografía por defecto para todo el proyecto */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular weight by default */
  font-style: normal;
}

/* Clases para estilos específicos de tipografía */
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Aplicar la fuente Poppins a todos los elementos de encabezado y párrafos */
h1, h2, h3, h4, p, a {
  font-family: "Poppins", sans-serif;
}

/* Estilo específico para botones */
button {
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* Peso de fuente para botones */
}

/* Estilos globales */
#root {
  margin: 0;
  padding: 0;
}
