.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #f9d070;
  border-radius: 8px;
  max-width: 900px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header-card {
  background: #009ba8; /* Slightly different background to visually separate from content */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px; /* Adjust as needed to visually connect with content */
}

.modal-title {
  font-size: 37px;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  flex: 1; /* Ensures the title takes available space and stays centered */
}

.modal-close {
  font-size: 1.5em;
  cursor: pointer;
  right: 2rem;
  color:  white;
  position: relative;
}

.modal-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
  background: #f9d070; /* Match with content background */
  border-radius: 0px 0px 8px 8px;
}

.modal-image-container {
  flex: 2;
}

.modal-image {
  width: 100%;
  max-width: auto;
  height: 400px;
  border-radius: 8px;
}

.modal-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-info p {
  font-size: 15px;
  margin: 0;
}

.modal-info strong {
  color: #5d5375;
  font-weight: 900;
  font-size: 16px;
}

.audio-controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}
